<!doctype>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css"> 
    <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:400,700" media="screen" rel="stylesheet" type="text/css">
    <title>Rock Paper Scissors Lizard Spock</title>
  </head>
  <body>
    <div class="overlay">
      <div id="message"></div>
    </div>      
    <h1>Rock Paper Scissors Lizard Spock</h1>
    <br>
    <%= partial :choices %>
    <br>
    <script src='javascript/lib/Player.js'></script>
    <script src='javascript/lib/Game.js'></script>
    <script src='http://code.jquery.com/jquery-2.1.0.min.js'></script> 
    <script src='javascript/lib/interactive.js'> </script>
  </body>
</html>
